/*Global*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
@font-face{
    src: url(font/HappyMonkey-Regular.ttf);
    font-family: HappyMonkey-Regular;
}

body{
    --web_background: hsl(0, 0%, 15%);
    --navbar_background: hsl(0, 0%, 13%);
    
    --title-color:hsl(267, 95%, 76%);
    
    --color-primary-300: hsl(165, 65%, 30%);
    --color-primary-500: hsl(165, 65%, 50%);
    --color-primary-600: hsl(165, 65%, 60%);
    --color-primary-700: hsl(165, 65%, 70%);
    --color-primary-900: hsl(165, 65%, 90%);

    
    color: var(--web-font-color);
    background-color: var(--web_background);
    
}
li{
    list-style: none;
    white-space: nowrap;
}
ul{
    display: flex;
}
/*------------------------------------------*/




/*Header*/
#title{
    width: 100%;
    background-color: var(--navbar_background);

    display: flex;
    justify-content: center;
}
#container{

    margin: 10px 0;
    width: 100%;
    max-width: 1000px;
    padding: 0px 10px;

    justify-content: center;
    display: flex;
    color: var(--color-primary-500);
    
}
#logo-icon{
    font-size: 1.4em;
}
#text-logo{
    font-size: 20px;
}
#container ul{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
#tribute-link{
    white-space: nowrap;
    color: var(--color-primary-500);
    text-decoration: none;
    margin:7px 10px;
}
#tribute-link:hover{
    color: var(--color-primary-700);
    border-bottom: 2px solid var(--color-primary-600);
}
/*-------------------------------------------*/
#audio{
    height: 40px;
    max-width: 400px;
    width: 90%;
    margin: 10px;
}
#image{
    max-width: 50%;
    margin: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 0;
    animation: rotate 5s infinite;
    
}
@keyframes rotate{
    0%{
        transform: rotate(25deg);
    }
    50%{
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(25deg);
    }
}

#img-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#img-caption{
    color: var(--color-primary-500);
}
#tribute-info{
    background-color: hsl(0, 0%, 17%);
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    color: var(--color-primary-500);
    font-family: HappyMonkey-Regular;
    font-size: 16px;
    margin: 20px;
    max-width: 400px;
    padding: 2%;
    text-align: center;
    white-space: nowrap;
    width: 90%;
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#img-caption{
    text-align: center;
}
@media (max-width: 400px) {
    #img-caption{
        font-size:18px;
    }
    #tribute-info{
        font-size: 12px;
    }
}